<nav>
    <a class="button" routerLink="/dashboard" routerLinkActive="activebutton">Dashboard</a> |
    <a class="button" routerLink="/home-page" routerLinkActive="activebutton">Home-page</a>
</nav>
<div>
    <button (click)="useLanguage('en')">en</button>
    <button (click)="useLanguage('bg')">bg</button>
    <!-- translation: translation pipe -->
    <h1>{{ 'demo.title' | translate }}</h1>

    <!-- translation: directive (key as attribute)-->
    <p [translate]="'demo.text'"></p>
</div>
<router-outlet></router-outlet>
